main {
  display: flex;
  justify-content: space-between;
}

.plantSection {
  width: 65vw;
}

.cart {
  width: 35vw;
}

.cartImg {
  padding: 0;
  margin: 0;
}

.plantImg {
  font-size: 5rem;
  padding: 0;
  margin: 0;
}

ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.plant {
  list-style-type: none;
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0;
  height: 200px;
  margin: 5px;
  width: 200px;
  flex-wrap: wrap;
}

.plant button {
  width: 10rem;
  height: 1.5rem;
}

.cartPlant {
  list-style-type: none;
  border: 1px solid lightgray;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 100vw;
  height: 50px;
  margin: 5px;
}

.cartPlant button {
  width: 4rem;
}
